name: Deploy

on:
  schedule:
    - cron: '0 7 * * *'
  push:
    branches:
      - master

jobs:
  deploy:
    if: github.repository == 'roblox-ts/playground' &&
        github.ref == 'refs/heads/master' &&
        contains(github.event.commits[0].message, '[skip ci]') == false

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Install NodeJS
        uses: actions/setup-node@master
        with:
          node-version: 12.x

      - name: Install node_modules
        run: npm install

      - name: Deploy
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "noreply@github.com"
          npm install roblox-ts@latest
          git add -A
          git diff-index --quiet HEAD || git commit -m "Update roblox-ts [skip ci]";
          git push https://osyrisrblx:${{ secrets.github_token }}@github.com/roblox-ts/playground.git HEAD:master
          npm run build
          npx gh-pages --dist=docs -r https://osyrisrblx:${{ secrets.github_token }}@github.com/roblox-ts/playground.git
